{% extends "ui/base.html" %}

{% block content %}
<h1>Create New Company</h1>
<div class="box" style="width:390px">
    <form class="form-horizontal" method="POST" action="/ui/resellers/{{resellerId}}/new/">
        {% csrf_token %}
        {{ form.resellerId }}
        <div class="box-body">
            <div class="form-group">
                <label class="col-sm-4 control-label">Company Name:</label>
                <div class="col-sm-3"> {{ form.companyname }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Admin Email:</label>
                <div class="col-sm-3"> {{ form.admin }}</div>
            </div>
        </div>
        <div class="box-footer" style="text-align: right; margin-right: 100px;" >
            <a style="margin-left:4px; margin-right:4px;" href="/ui/resellers/{{resellerId}}/" class="btn btn-primary">Cancel</a>
            <button align="left" type="submit" value="Submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</div>
{% endblock %}