{% extends "ui/base.html" %}

{% block content %}
<div class="box-header">
    <h1>Available Resellers</h1>
</div>
<div class="box" style="width: 500px">
    <form method="POST" action="/ui/resellers/" role="form">
        {% csrf_token %}
        <div class="box-body">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th style="width: 10px">Mark</th>
                    <th style="width: 130px">Partner ID</th>
                    <th style="width: 90px">Total Disk Usage (mb)</th>
                </tr>

                {% for reseller in resellers %}
                <tr>
                    <th style="width: 10px">
                        <input id="id_mark_{{reseller.id}}" name="mark_{{reseller.id}}" type="checkbox"/>
                    </th>
                    <th style="width: 130px"><a href="/ui/resellers/{{reseller.id}}">{{reseller.partnerid}}</a></th>
                    <th style="width: 90px">{{ reseller.total }}</th>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div style="padding: 15px; text-align: right;">
            <input style="margin-left:4px; margin-right:4px; " type="submit" class="btn btn-primary" value="Delete Selected"/>
            <a style="margin-left:4px; margin-right:4px;" href="/ui/resellers/new" class="btn btn-primary">Create Reseller</a>
        </div>
    </form>
</div>

{% endblock %}