{% extends "ui/base.html" %}

{% block content %}
<div class="box-header">
    <h1>{{ reseller.partnerid }}</h1>
</div>
{% if companies %}
<div class="box" style="width: 580px">
    <form method="POST" action="/ui/resellers/{{reseller.id}}/" role="form">
        {% csrf_token %}
        <div class="box-body">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th style="width: 10px">Mark</th>
                    <th style="width: 130px">Company</th>
                    <th style="width: 130px">Admin Name</th>
                    <th style="width: 90px">Total Disk Usage (mb)</th>
                </tr>

                {% for company in companies %}
                <tr>
                    <th style="width: 10px">
                        <input id="id_mark_{{company.id}}" name="mark_{{company.id}}"
                                                   type="checkbox"/>
                    </th>
                    <th style="width: 100px">{{company.companyname}}</th>
                    <th style="width: 140px">{{company.admin}}</th>
                    <th style="width: 160px">{{company.diskusage}}</th>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div style="padding: 15px; text-align: right;">
            <input style="margin-left:5px" type="submit" class="btn btn-primary" value="Delete Selected"/>
            <a href="/ui/resellers/{{reseller.id}}/new" class="btn btn-primary">Add Company</a>
        </div>
    </form>
</div>
{% else %}
There is no any company yet. <a href="/ui/resellers/{{reseller.id}}/new">Create one</a>.
{% endif %}
{% endblock %}